@layer utilities {
    [data-preloader] {
        [data-prealoder-numbers] {
            clip-path: inset(-9% 0 -10% 0);

            @media (min-width: 768px) {
                clip-path: inset(-5% 0 -10% 0);
            }
        }
    }
}